<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty scope="context" name="patternConsole" source="logging.pattern.console"
                    defaultValue="%d{HH:mm:ss.SSS} [%.20thread] %-5level %.30logger - %msg%n"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>${patternConsole}</Pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>